---
import type { FAQ, ThankYou } from '@content/types'
import Logo from '@components/logos/Logo.astro'

type Props = {
  content: FAQ
  content2: ThankYou
}

const { content, content2 } = Astro.props
---
<div class="content-wrapper thank-you">
  <h4>{content.subtitle}</h4>
  <p>{content.description}</p>
  <p>{content.content}</p>

  <h4>{content2.title}</h4>
  {content2.content.map(item => <p>{item}</p>)}
  <Logo />
</div>


<style lang="scss">
  @forward './main.scss';
</style>
