---
import heroImage from '@assets/hero.jpg'
import ArticlesLayout from '@components/ArticlesLayout/index.astro'
import Contact from '@components/Contact/index.astro'
import Faq from '@components/Faq/index.astro'
import Hero from '@components/Hero/index.astro'
import Navbar from '@components/Navbar/index.astro'
import NumberedList from '@components/NumberedList/index.astro'
import Section3Content from '@components/Section3Content/index.astro'
import Section from '@components/Section/index.astro'
import SectionTitle from '@components/SectionTitle/index.astro'
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from '@vercel/speed-insights/astro'
import { SEO } from 'astro-seo'

// import ThankYou from '@components/ThankYou/index.astro'
import { getImage } from 'astro:assets'
import config from '../content/main.json'
import SiteData from '../content/seo_data.json'
import '@fontsource-variable/montserrat'
// Supports weights 400-900
import '@fontsource-variable/playfair-display'

const optimizedHeroImage = await getImage({ src: heroImage, format: 'webp' })

const navbarItems = Object.keys(config)
                          .filter(key => !/thankYou/.test(key))
                          .map(key => ({ id: key, title: config[key as 'section1' | 'section2' | 'section3' | 'section4' | 'section5'].title }))

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={SiteData.default.title}
      description={SiteData.default.description}
      canonical={SiteData.default.openGraph.url}

      openGraph={{
      basic: {
        image: optimizedHeroImage.src,
        title: SiteData.default.openGraph.title,
        type: SiteData.default.openGraph.type,
        url: SiteData.default.openGraph.url,
      },
      optional: {
        description: SiteData.default.openGraph.description,
        siteName: SiteData.default.openGraph.title,
      },
    }}
      twitter={{
      title: SiteData.default.twitter.title,
      description: SiteData.default.twitter.description,
      // creator: SiteData.default.twitter.creator,
    }}
    />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Artamonoff" />
    <link rel="manifest" href="/site.webmanifest" />
    <Analytics />
    <SpeedInsights />
  </head>
  <body>
    <section id="hero" style={`--background-url-prop: url(${optimizedHeroImage.src});`}>
      <Hero />
    </section>
    <main>
      <Navbar items={navbarItems} />
      {
        Object.keys(config).filter(key => /section\d/.test(key)).map((key, i) => {
          // @ts-expect-error
          const section = config[key]

          return (
            <Section id={key}>
              <SectionTitle
                title={section.title}
                subtitle={section.subtitle}
                imagePath={`${i + 2}.jpg`}
              />
              { key === 'section1' && <ArticlesLayout content={section.items} />}
              { key === 'section2' && <NumberedList content={section.items} /> }
              { key === 'section3' && <Section3Content content={section.items} description={section.description} /> }
              { key === 'section4' && <NumberedList content={section.items} /> }
              { key === 'section5' && <Section3Content content={section.items} description={section.description} /> }
            </Section>
          )
        })
      }
      <Section id="faq">
        <SectionTitle
          title={config.faq.title}
          imagePath="7.jpg"
        />
          <Faq content={config.faq} content2={config.thankYou} />
      </Section>
      <Section id="contact">
        <SectionTitle
          title={config.contact.title}
          subtitle={config.contact.subtitle}
          imagePath="11.jpg"
        />
          <Contact content={config.contact} />
      </Section>
    </main>
  </body>
</html>

<script>
  import '../scripts/main.ts'
</script>

<style lang="scss" is:global>
  @use '@styles/global.scss';
</style>

<style lang="scss">
  @forward '@styles/main.scss';
</style>
