---
import heroImage from '@assets/hero.jpg'
import ArticleWithIcon from '@components/ArticleWithIcon/index.astro'
import Hero from '@components/Hero/index.astro'
import NumberedList from '@components/NumberedList/index.astro'
import Section from '@components/Section/index.astro'
import SectionTitle from '@components/SectionTitle/index.astro'
import { getImage } from 'astro:assets'

import config from '../content/main.json'
// eslint-disable-next-line antfu/no-top-level-await
const optimisedHeroImage = await getImage({ src: heroImage, format: 'webp' })
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section style={`--background-url-prop: url(${optimisedHeroImage.src});`}>
      <Hero />
    </section>
    <Section>
      <SectionTitle slot="left-title" title={config.section1.title} subtitle={config.section1.subtitle} imagePath="2.jpg" />
      {config.section1.items.map(item => <ArticleWithIcon content={item} />)}
    </Section>
    <Section>
      <SectionTitle slot="right-title" title={config.section2.title} subtitle={config.section2.subtitle} imagePath="3.jpg" />
      {config.section2.items.map(item => <NumberedList content={item} />)}
    </Section>
    <Section>
      <SectionTitle slot="left-title" title={config.section3.title} subtitle={config.section3.subtitle} imagePath="4.jpg" />
      {config.section3.items.map(item => <ArticleWithIcon content={item} />)}
    </Section>
  </body>
</html>

<style lang="scss" is:global>
  @use '@styles/global.scss';
</style>

<style lang="scss">
  @forward '@styles/main.scss';
</style>
