---
import type { Contact } from '@content/types'
import Logo from '@components/logos/Logo.astro'
import QRCode from '@components/QRCode/index.astro'

type Props = {
  content: Contact
}

const { content } = Astro.props

const contactUrl = new URL(content.www)

---

<div class="articles-wrapper content-wrapper">
  <Logo />
  <h4>{content.description}</h4>
  <address>
    <p>{content.address}</p>
    <a href={`mailto:${content.email}`}>{content.email}</a>
    {content.phones.map(phone => <p>{phone.title}: <a href={`tel:${phone.value}`}>{phone.value}</a></p>)}
    <a href={contactUrl.href}>{contactUrl.hostname}</a>
  </address>
  <QRCode />
</div>

<style lang="scss">
    @forward './main.scss';
  </style>
